# Jupyter Notebook temporary files
.ipynb_checkpoints/

# Python virtual environments
.venv/
venv/
env/
*.env

# IDE and Editor specific files
.idea/
.vscode/

# Data files (badi data files ko GitHub par nahi daalna chahiye)
*.csv
*.xlsx
*.parquet

# Mac/Windows system files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
